<h2>add new category</h2>

<%= form_for @category do |item| %>

    <% if @category.errors.any? %>
        <% @category.errors.full_messages.each do |error| %>
            <div class="alert alert-danger"> <%=	error %> </div>
        <% end %>
    <% end %>

    <div class="form-group">
      <%= item.label :name %><br>
      <%= item.text_field :name, class: 'form-control' %><br>
    </div>
    <%= item.submit "Submit", class: 'btn btn-primary' %>
    <%= link_to "Cancel", categories_path, class: 'btn btn-default' %>
<% end %>